<h1>Reports</h1>
<%= link_to 'New Report', new_report_path %>
<ul>
    <% @reports.each do |report| %>
        <li>
            <%= link_to report.title, report_path(report) %>
        </li>
    <% end %>
</ul>